{% extends 'school/base.html' %}

{% block content %}

	<br>

<div class="row">

	<div class="col-md">
		<div class="card card-body">
			<h3>{{faculty.name}}
				{% if not user.is_student and user.faculty.id == faculty.id %}
					<a href="{% url 'update_personal_info' %}" class="btn btn-outline-info">Update</a>
				{% endif %}
			</h3>
			<hr>
			<p>Title: {{faculty.title}}</p>
			<p>Office Phone: {{faculty.office_phone}}</p>
			<p>Office Number: {{faculty.office_number}}</p>
			<p>Office Hours: {{faculty.office_hours}}</p>
			<p>Department: {{faculty.department}}</p>

		</div>
	</div>
</div>



{% endblock %}>