{% extends 'school/base.html' %}
{% load static %}
{% block content %}


<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>My Grades</h5>
            <table class="table table-sm">
                <tr>
                    <th>Sched #</th>
                    <th>Course Name</th>
                    <th>Title</th>
                    <th>Instructor</th>
                    <th>Units</th>
                    <th>Grade</th>


                </tr>

                {% for course, grade in grade_dict.items %}
                <tr>
                    <td>{{course.schedule_number}}</td>
                    <td>{{course}}</td>
                    <td>{{course.title}}</td>
                    <td>{{course.instructor}}</td>
                    <td>{{course.units}}</td>
                    <td>{{grade}}</td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>



{% endblock %}