[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-filter = "*"
django-crispy-forms = "*"
django-bootstrap-modal-forms = "*"
django-widget-tweaks = "*"
Django = "==3.1.*"
xhtml2pdf = "*"

[dev-packages]

[requires]
python_version = "3.*"
