{% extends 'school/main.html' %}

{% block content %}

<div class="col-md-12">
    <div class="card card-body">
        <table class="table table-sm">
            <h5>COURSES YOU TEACH</h5>


            {% for students in students_in_courses %}
            <tr>
                <td><b> </b></td>
<!--                <th>Student Name</th>-->
<!--                <th>Grade</th>-->
<!--                <th>Notes</th>-->
            </tr>


            {% endfor %}



        </table>
    </div>
</div>




{% endblock %}