{% extends 'school/base.html' %}

{% load static %}
{% block content %}

<br>
<div class="row">
	<div class="col">
		<div class="card card-body">
			<form method="get">
			{{filter.form.as_p}}
		    <button class="btn btn-primary" type="submit">Search</button>
		  </form>
		</div>
	</div>

</div>
<br>

<div class="col-md-12">
		<h5>ALL COURSES:</h5>
		{% for message in messages %}
			<p>{{message}}</p>
		{% endfor %}
		<hr>
		<div class="card card-body">
			<table class="table table-sm">
				<tr>
					<th>View Course</th>
					<th>Course ID</th>
					<th>Time</th>
					<th>Instructor</th>
					<th>Units</th>
					<th>Seats</th>
					<th>Add</th>
				</tr>

				{% for course in courses %}
					<tr>
						<td><a class="btn btn-sm btn-info" href="{% url 'course_detail' course.id %}">View</a></td>
						<td>{{course.course_id}}</td>
						<td>{{course.time}}</td>
						<td>{{course.instructor}}</td>
						<td>{{course.units}}</td>
						<td>{{course.seats_occupied}} / {{course.seats_available}}</td>
						<td><a class="btn btn-sm btn-success" href="{% url 'add_course' course.id %}">Add</a></td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>




<!--<div class="row">-->
<!--	<div class="col-md-3">-->
<!--		<div class="card card-body">-->

<!--            <form action="" method="POST">-->
<!--                {% csrf_token %}-->
<!--                {{form}}-->
<!--                <h5>Registration Page</h5>-->

<!--                <input type="submit" name="Submit">-->
<!--            </form>-->

<!--        </div>-->
<!--	</div>-->
<!--</div>-->

{% endblock %}}