{%  extends 'school/main.html' %}
{% load static %}
{% block content %}


<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Completed Courses</h5>
            <table class="table table-sm">
                <tr>
                    <th>View Majors</th>
                    <th>Department Name</th>
                </tr>

                {% for department in departments %}
                <tr>
                    <td><a class="btn btn-sm btn-info" href="">View Majors</a></td>
                    <td>{{department.department_name}}</td>

                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>



{% endblock %}