{% extends 'school/base.html' %}
{% load static %}
{% block content %}


<div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Completed Courses</h5>
            <table class="table table-sm">
                <tr>
                    <th>Major Details</th>
                    <th>Major Title</th>
                    <th>Department</th>


                </tr>

                {% for major in majors %}
                <tr>
                    <td><a class="btn btn-sm btn-info" href="{% url 'major_requirements_details' major.id %}">Major Details</a></td>
                    <td>{{major.major_title}}</td>
                    <td>{{major.department.department_name}}</td>

                </tr>
                {% endfor %}

            </table>
        </div>
    </div>
</div>



{% endblock %}