
<style>
.nav-bottom a{
    text-decoration: none;
}
.nav-bottom ul a:hover{
  color: #000 !important;
}
.nav-bottom li{
    text-align: center;
    text-transform: uppercase;
}
.nav-bottom li > a:after{
    content: '';
    display: block;
    height: 1.5px;
    background: #000;
    transform: scaleX(0);
    transition: transform .3s;
}
.nav-bottom li > a:hover:after{
    transform: scaleX(1);
    transition: transform .3s;
}
.nav-bottom .active{
    color: #CCBE79 !important;
}
</style>

<nav class="navbar navbar-expand-lg bg-light text-dark nav-bottom ">
  <!-- Navbar content -->
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

            {% if user.is_faculty %}

                <li class="nav-item ">
                    <a class="nav-link active" href="{% url 'faculty_schedule' %}">My Teaching Schedule</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link active" href="{% url 'course_grades' user.faculty.id %}">My Student Grades</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link active" href="{% url 'faculty_detail' user.faculty.id %}">My Info</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link active" href="{% url 'catalog_student' %}">Electronic Student Record</a>
                </li>

            {% elif user.is_student %}
                <li class="nav-item ">
                    <a class="nav-link active" href="{% url 'student_schedule' user.student.id %}">My Course Schedule</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link active" href="{% url 'course_grades' user.student.id %}">My Grades</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link active" href="{% url 'student_outline' user.student.id %}">My Outline</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link active" href="{% url 'student_detail' user.student.id %}">My Info</a>
                </li>
            {% endif %}

        </ul>
    </div>
</nav>