<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">(Add Logo Here)</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% ifequal user.groups.all.0.name "faculty" %}
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'faculty_home' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'faculty_course_info' %}">Faculty and Course Information</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'electronic_student_record' %}">Electronic Student Record</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'course_grades' %}">Course Grades</a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'course_registration' %}">Course Registration</a>
            </li>
            {% endifequal %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'account' %}">Account Settings</a>
            </li>
        </ul>
    </div>
    <span>Hello, {{request.user}} </span>
    <span><a href="{% url 'logout' %}">Logout</a></span>

</nav>