{% load static %}
<style>
.top-navbar{
    overflow: hidden;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */;
    z-index:1;
}
ul a:hover{
  color: #FFF !important;
}
nav li{
    text-align: center;
    text-transform: uppercase;
}
nav li > a:after{
    content: '';
    display: block;
    height: 1.5px;
    background: #FFF;
    transform: scaleX(0);
    transition: transform .3s;
}
nav li > a:hover:after{
    transform: scaleX(1);
    transition: transform .3s;
}
.active{
    color: #FFF !important;
}
</style>
<div class="top-navbar">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<!--    <a href="#" data-toggle="tooltip" title="Hooray!">Hover over me</a>-->
    <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static 'assets/images/sdsu-hr.png' %}" alt="My image" width="180" height="40" >
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
<!--                <li class="nav-item dropdown">-->
<!--                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--                        Catalog-->
<!--                    </a>-->
<!--                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">-->
<!--                        <a class="dropdown-item" href="{% url 'catalog_course' %}">Course Catalog</a>-->
<!--                        <a class="dropdown-item" href="{% url 'catalog_faculty' %}">Faculty Catalog</a>-->
<!--                        <a class="dropdown-item" href="{% url 'catalog_major' %}">Major Catalog</a>-->
<!--                        <div class="dropdown-divider"></div>-->
<!--                        <a class="dropdown-item" href="#">Something else here</a>-->
<!--                        </div>-->
<!--                </li>-->

                <li class="nav-item ">
                    <a class="nav-link active" href="{% url 'catalog_course' %}">Course Catalog</a>
                    <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link active" href="{% url 'catalog_faculty' %}">Faculty Catalog</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link active" href="{% url 'catalog_major' %}">Major Catalog</a>
                </li>


        </ul>
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}" class="btn btn-outline-light">Logout</a>
        {% endif %}

    </div>
    </nav>
     {% include 'school/nav-menu.html' %}
</div>


