{% extends 'school/base.html' %}

{% block content %}
<div>
<div class="row">
	<div class="col-md">
		<div class="card card-body">
			<h5>Courses Teaching</h5>
			<table class="table table-sm">
				<tr>
					<th>Course ID</th>
                    <th>Sched #</th>
					<th>Time</th>
                    <th>Location</th>
					<th>Units</th>
                    <th></th>
				</tr>

				{% for course in courses %}
					<tr>

						<td>{{course.course_id}}</td>
                        <td>{{course.schedule_number}}</td>
						<td>{{course.time}}</td>
                        <td>{{course.location}}</td>
						<td>{{course.units}}</td>
                        <td><a class="btn btn-sm btn-info" href="{% url 'course_details' course.id %}">View</a></td>
					</tr>
				{% endfor %}

			</table>
		</div>
	</div>
</div>
{% endblock content %}