{% extends 'school/base.html' %}

{% block content %}

	<br>

<div class="row">

	<div class="col-md">
		<div class="card card-body">
			<h5>Course Statistics:</h5>
			<h3>{{course.course_id}} - {{course.title}}</h3>
			<hr>
			<p>Registered Students: {{course.seats_occupied}}</p>
			<p>Students with a passing grade: {{num_passing_grade}}</p>
			<p>Average Course Grade: {{average_letter_grade}}</p>
			<p>Grade Distribution:</p>
				<ul>
					<li>A: {{grade_A}}%</li>
					<li>B: {{grade_B}}%</li>
					<li>C: {{grade_C}}%</li>
					<li>D: {{grade_D}}%</li>
					<li>F: {{grade_F}}%</li>
				</ul>
		</div>
	</div>
</div>



{% endblock %}>