{% extends 'school/base.html' %}

{% load static %}
{% block content %}

<br>
<div class="row">
	<div class="col-md-6">
		<div class="card card-body">

            <p>Are you sure you want to end {{course}}? This action can not be reversed!</p>

            <form method="POST" action="{% url 'end_course' course.id %}">

                {% csrf_token %}
                <a class="btn btn-danger" href="{% url 'course_grades' %}">Cancel</a>

                <input class="btn btn-success" type="submit" name="Confirm">
            </form>
        </div>
	</div>
</div>


{% endblock %}